.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(./img/hinh1.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative;
    width: 300px;
    height: 200px;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #a04949;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

/* hiệu ứng */

.view-seventh img {
    transition: all 0.5s ease-out;
    opacity: 1;
}

.view-seventh .mask {
    background-color : rgba ( 77 , 44 , 35 , 0.5 )  ;
    transform : rotate ( 0deg ) scale ( 1 )  ;
    opacity : 0  ;
    transition : all 0.3s ease-out ;
    transform : translateY (- 200px ) rotate ( 180deg )  ;
}

.view-seventh h2,
.view-seventh p,
.view-seventh a.info {
    transform: translateY(-200px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-seventh:hover img {
    transform: rotate(720deg) scale(1);
    opacity: 1;
}

.view-seventh:hover .mask {
    opacity: 1;
    transform: translateY(0px) rotate(0deg);
    transition-delay: 0.4s;
}

.view-seventh:hover h2 {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: 0.7s;
}

.view-seventh:hover p {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: 0.6s;
}

.view-seventh:hover a.info {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: 0.5s;
}
.view-seventh:hover h2 {
    transform: translateY(0px) rotate(720deg);
    opacity: 1;
    transition-delay: 1s;
}
