#root{
  width:1024px;
  margin:24px auto;
  text-align:center;
  font-family: "Times New Roman";
}

#site-header{
  margin:0 0 30px;
  padding:16px;
  background:#afadad;
  color:#fff;
  text-shadow:0 2px 0 #000;
  display:inline-block;
  width:100%;
  text-align:center;
}

#site-header::before{
  content:"";
  display:inline-block;
  width:30px;
  height:20px;
  background:url("images/logo.png") no-repeat center / contain;
  vertical-align:middle;
  margin-right:8px;
}


.superheroes li{
  display:inline-block;      
  width:15%;
  margin:0 1%;
  vertical-align:top;
  position:relative;
  font-size:16px;
}

.hero-header{
  position: absolute;
  top: 0; left: 0; right: 0;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 8px 8px;
  font-size: 20px; font-weight: 700;
  border-radius:18px 18px 0 0;

}

.superheroes img{
  max-width:100%;
  display:block;
  border:1px solid #ccc;
  border-radius:18px;
}

.superheroes a{
  display:block;
  width:100%;
  margin-top:12px;
  padding:10px 0;
  background:#666;
  color:#fff;
  text-decoration:none;
  border-radius:4px;
  opacity:0;
  pointer-events:none;
  transition:opacity .18s ease;
}

.superheroes li:hover a{
  opacity:1;
  pointer-events:auto;
  text-decoration:underline;
}

.superheroes li:hover{
  width:20%;
}